
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

*.exr

bakes/

.godot/

addons/gemini_copilot/
addons/csg_toolkit/

.vscode/

assets/

addons/imgui-godot/
