
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

*.exr

bakes/

.godot/

addons/gemini_copilot/
addons/csg_toolkit/

.vscode/

assets/decals
assets/dev_meshes
assets/fonts
assets/HDR
assets/images
assets/props
assets/sounds
assets/textures
assets/VisTEST
assets/weapons

addons/imgui-godot/
